<!DOCTYPE html>
<html lang="en">

    <head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Alejandro Cosimo's profile</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- fonts -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600" rel="stylesheet">

	<!-- mystyles -->
	<link href="styles/ac.css" rel="stylesheet">
	
    </head>

    <body>
	<!-- Landpage: HOME -->
      <div class="jumbotron">
          <div class="container text-center">
	      <img style="width:15rem;height:auto;margin-right:20px;margin-bottom:20px;"
		   src="images/alex-snow.jpeg" class="rounded-circle" alt="Alejandro Cosimo">
	      
	      <h1 class="display-4 color-blue" id="title-land-page">Alejandro Cosimo</h1>

	      <ul class="list-social-links list-inline">
		  <li class="list-inline-item"><a class="anchor-social-links" href="https://github.com/alecosimo"><i class="fab fa-github-square"></i></a></li>
		  <li class="list-inline-item"><a class="anchor-social-links" href="https://www.linkedin.com/in/alejandro-cosimo/"><i class="fab fa-linkedin"></i></a></li>
		  <li class="list-inline-item"><a class="anchor-social-links" href="https://www.youtube.com/user/alecosimo01/videos"><i class="fab fa-youtube-square"></i></a></li>
		  <li class="list-inline-item"><a class="anchor-social-links" href="https://www.linkedin.com/in/alejandro-cosimo/detail/contact-info/"><i class="fas fa-address-card"></i></a></li>
              </ul>

	      <p class="text-description-landing text-left">I'm a Software Engineer with a PhD. in Computational
		  Mechanics. The strongest asset that I have to offer is the passion for
		  the things I do. I feel really passionate for the development and
		  implementation of numerical methods targeting the simulation of
		  physical systems.
	      </p>

          </div>
      </div>
      
      <div class="container" id="projects">
	  <h1 class="display-4 section-title">Projects</h1>

	  <div class="row" style="display:flex; flex-wrap: wrap;">

	      <% articles.forEach( article => { %>
		  <div class="col-md-6 col-sm-12 col-lg-4">
		      <div class="card" style="width: 18rem;">
			  <div class="img-card-container">
			      <img class="card-img-top" src="images/<%=article.image%>" alt="<%=article.title%>" >
			  </div>
			  <div class="card-body">
			      <h5 class="card-title card-project-title"><%=article.title%></h5>
			      <p class="card-text"><%=article.description%></p>
			      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal<%=article.title%>">Details</button>
			  </div>
		      </div>
		  </div>
		  <div class="modal fade" id="modal<%=article.title%>" tabindex="-1" role="dialog" aria-labelledby="<%=article.title%>Modal" aria-hidden="true">
		      <div class="modal-dialog modal-full" role="document">
			  <div class="modal-content">
			      <div class="modal-header">
				  <h5 class="modal-title col-12 project-title" id="<%=article.title%>Modal"><%=article.title%></h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				      <span aria-hidden="true">&times;</span>
				  </button>
			      </div>
			      <div class="modal-body">
				  <div class="article-wrapper">
				      <%-article.body%>
				  </div>
			      </div>
			      <div class="modal-footer">
				  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			  </div>
		      </div>
		  </div>
	      <% }); %>
		  
	  </div>

      </div>

      <footer>
	  <div id="footer-div" style="padding:30px;">
	      <br>
	  </div>
      </footer>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

      <script type="text/javascript">
       $(document).ready(function(){
	   /* Get iframe src attribute value i.e. YouTube video url
	      and store it in a variable */
	   var urls = [];
	   $(".modal").each(function(i,e) {
	       urls[i] = $(e).find("iframe").attr('src');
	   });
	   
	   /* Assign empty url value to the iframe src attribute when
	      modal hide, which stop the video playing */
	   $(".modal").each(function(i,e) {
	       $(e).on('hide.bs.modal', function(){
		   $(this).find("iframe").attr('src', '');
	       })
	   });
	   
	   /* Assign the initially stored url back to the iframe src
	      attribute when modal is displayed again */
	   $(".modal").each(function(i,e) {
	       $(e).on('show.bs.modal', function(){
		   $(this).find("iframe").attr('src', urls[i]);
	       })
	   });
       });
      </script>

    </body>

</html>
